@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900);

$color1: #c8dae6;
$color2: white;
$color3: #b8b8b8;
$color4: #ffcd41;
$color5: #2092a9;

// .daily-forecast {
//   display: flex;
//   flex-direction: column;
//   justify-content: space-evenly;
//   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
//   width: 200px;
//   height: 280px;
//   margin: 10px;
//   transition: 0.3s;
//   border-radius: 10px;
//   font-family: "Lato", sans-serif;
//   font-weight: 300;
//   font-size: 28px;
//   color: lighten($color3, 10%);
//   bottom: 0;
//   left: 35px;
// }

.daily-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  // box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
  //   rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}
@media only screen and (max-width: 600px) {
  .main-container {
    width: 100% !important;
    margin: auto;
  }
  .daily-list {
    display: flex;
    flex-direction: column;
    width: 100% !important;
  }

  .search-bar {
    width: 100% !important;
  }

  .top-container {
    display: flex;
    flex-direction: column;
  }

  .current-weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .current-weather {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    width: 100% !important;
    height: 100px;
    border-radius: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-size: 25px;
    font-family: sans-serif;
  }

  .css-96uuyl {
    width: 0;
  }

  .widget {
    //   position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: $border-radius;
  }
  .widget2 {
    //   position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    height: 100%;
    width: 100%;
    margin: 5px;
    flex-wrap: wrap;
    cursor: pointer;
    border-radius: $border-radius;
  }
}
