@import "./cardsStyle.scss";
@import "./dailyForecast.scss";
@import "./favorites.scss";
@import "./header.scss";


.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  margin: auto;
  text-align: center;
  width: 100%;
  height: 50px; 
  background: #1976d2;
  color: white;
  position:fixed;

}

.coffee-rights {
  font-size: 12px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.home-link {
  margin-right: 10px;
}

.logo {
  color: white;
  font-size: large;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.search-bar {
  width: 300px;
}

.locations-names-container {
  margin-bottom: 10px;
  cursor: pointer;
  transition: box-shadow 0.3s;
}

.link {
  color: white;
}

.link-mobile {
  color: black;
}

.current-weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 30px;
}

.current-weather {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  height: 235px;
  background-color: rgb(233, 233, 233);
  font-size: 25px;
  font-family: sans-serif;
  margin: 15px;
}

.MuiPaper-root {
  width: 100%;
}
.top-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}

.favorite-btn {
  width: 200px;
  height: 70px;
}

.main-container {
  width: 100%;
  margin: auto;
}

.css-1guk29 {
  display: flex;
  align-items: center;
} 

.temperature-sign {
font-size: 20px;

}

.hero {
height: 200px;
  
}

.iframe {
	border: none;
}

.card-img, .card-img-top {
	max-width: 100px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    height: 100px;
}